#include "winver.h"

IDI_ICON1               ICON    DISCARDABLE     "../Resources/WindowsAppIcon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION [[.VersionMajor]],[[.VersionMinor]],[[.VersionPatch]],[[.BuildNumber]]
 PRODUCTVERSION [[.VersionMajor]],[[.VersionMinor]],[[.VersionPatch]],[[.BuildNumber]]
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "[[.Organization]]"
            VALUE "FileDescription", "[[.Target]]"
            VALUE "FileVersion", "[[.Version]]"
            VALUE "LegalCopyright", "[[.CopyRight]]"
            VALUE "InternalName", "[[.Target]]"
            VALUE "OriginalFilename", "[[.Target]].exe"
            VALUE "ProductName", "[[.Target]]"
            VALUE "ProductVersion", "[[.Version]]"
        END
    END
END
