#include "winver.h"

IDI_ICON1               ICON    DISCARDABLE     "WindowsAppIcon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION [[.VersionMajor]],[[.VersionMinor]],[[.VersionPatch]],[[.BuildNumber]]
 PRODUCTVERSION [[.VersionMajor]],[[.VersionMinor]],[[.VersionPatch]],[[.BuildNumber]]
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "CompanyName", "[[.Organization]]\0"
            VALUE "FileDescription", "[[.Target]]\0"
            VALUE "FileVersion", "[[.Version]]\0"
            VALUE "LegalCopyright", "[[.CopyRight]]\0"
            VALUE "InternalName", "[[.Target]]\0"
            VALUE "OriginalFilename", "[[.Target]].exe\0"
            VALUE "ProductName", "[[.Target]]\0"
            VALUE "ProductVersion", "[[.Version]]\0"
        END
    END
END
